<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">

    <title>Weather App</title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-bottom:15px">

            <h1 class="title" style="text-align: start;">Weather App</h1>
            <img src="{{ url_for('static', filename='image.png') }}" alt="Weather Image">

        </div>

        <form method="post">
            <input type="text" id="city" name="city" placeholder="City Name" required>
            <button type="submit">Get Weather</button>
        </form>
        {% if error_message %}
        <p class="errorMessage">{{ error_message }}</p>
        {% endif %}

        {% if city %}
        <div class="details">
            <div class="row">
            <h4 style="text-align: start;">{{ city+", "+country }}</h4>
           <h4 style="text-align: end;">{{ today_date }}</h4>
        </div>
            <div class="row">
                <h1 style="text-align: start;">{{ currentTemp }}°C</h1>
                <h1 style=" text-align: end; ">{{ currentWeather }}</h1>
            </div>
            <div class=" row">
                <p style="text-align: start;">Humidity: {{ currentHumidity }}%</p>
                <p style=" text-align: end; ">Feels Like: {{ currentFeels_like }}°C</p>
            </div>
            <hr>
            {% for entry in current_day_details %}
            <p class="todayDetails">{{ entry.formatted_timestamp }} : {{ entry['main']['temp'] }}°C, {{
                entry['weather'][0]['main'] }},
                Feels Like: {{ entry['main']['feels_like'] }}°C</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <footer>
        Copyright © {{current_year}}. All rights reserved.
        <p>
            Designed &amp; Developed by <a target="_blank" href="https://tyagi-achint.github.io/">Achint Tyagi</a>
        </p>
    </footer>
</body>

</html>